.filterAndSearchSection {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.filterAndSearch {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    flex-wrap: wrap;
}

// mobile first CSS, here we are adjusting layout for bigger screens
@media screen and (min-width: 920px) {
    .filterAndSearchSection {
        flex-direction: row;
        justify-content: space-between;
        gap: 100px;
    }

    .filterAndSearch {
        justify-content: right;
        flex-direction: row;
    }

    .searchBox {
        display: flex;
        flex: 1
    }
}