.card {
  border-radius: var(--borderRadiusDefault);
  background-color: var(--white);
  margin: 2rem 0;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
  flex-direction: column;

  img {
    border-radius: var(--borderRadiusDefault);
    padding: 1rem;
    background: var(--charcoal);
  }
}

// mobile first CSS, here we are adjusting layout for bigger screens
@media screen and (min-width: 920px) {
  section > div {
    flex: 1 1 0;
  }
  .card {
    flex-direction: row;

    &:hover {
      transition: 0.25s ease-in;
      box-shadow: 0px 3px 11px var(--shadow);
    }
  }
}

.label {
  text-transform: uppercase;
  color: #808080;
  font-size: small;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 1.25rem;
}

.links {
  font-size: small;
  &::after {
    content: "🔗";
  }

  &[data-linktype="video"]::after {
    content: "🎥";
  }
}

.pill {
  color: var(--white);
  border-radius: var(--borderRadiusDefault);
  padding: 0 1rem;
}

.success {
  @extend .pill;
  background-color: var(--lightGreen);
}

.failed {
  @extend .pill;
  background-color: var(--lightRed);
}
