:root {
  --gray: #efefef;
  --charcoal: #313131;
  --primary: #5c49cb;
  --primaryDark: #5241b4;
  --secondary: #fb5c9d;
  --tertiary: #e1dcff;
  --white: #ffffff;
  --lightGreen: #d6edd6;
  --lightRed: #eddbd6;
  --red: #d91616;
  --shadow: #c1c1c1;
  --borderRadiusDefault: 10px;

  font-family: "Nunito Sans", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--gray);
  font-size: 16px;
}

body {
  color: var(--charcoal);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

select {
  padding: 10px;
  background: var(--white);
  font-family: inherit;
  border: none;
  border-radius: 7px;
  font-size: 1rem;

  &:focus {
    border: none;
    outline: 1px solid var(--secondary);
  }
}

input,
textarea {
  border-radius: 7px;
  border: 1px solid var(--primary);
  padding: 10px;
  font-family: inherit;
  font-size: 1rem;

  &:focus {
    border: none;
    outline: 1px solid var(--secondary);
  }
}

button {
  padding: 10px;
  background: var(--primary);
  font-family: inherit;
  border: none;
  border-radius: 7px;
  font-size: 1rem;
  color: var(--white);
  cursor: pointer;

  &:hover {
    background: var(--primaryDark);
    box-shadow: 0px 0px 7px var(--shadow);
  }
}

// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }
//   a:hover {
//     color: #747bff;
//   }
//   button {
//     background-color: #f9f9f9;
//   }
// }
